html, body {
    background-color: #fff;
    color: #636b6f;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

table.dataTable thead th, table.dataTable tfoot th {
    font-weight: 400;
}

p.options {
    display: inline;
}

.chip.preview {
    cursor: pointer;
}

.custom-vertical-divider {
    border-left: 1px solid #38546d;
    border-right: 1px solid #16222c;
    height: 80px;
    margin: 0 24px;
}

.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}